a {
    color: #333;
}
a:hover {
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-size: 20px;
    color: #fff;
    position: relative;
    background-color: #ff7373;
    padding: 4px 10px;
    margin-bottom: 10px;
}
.block-list {
    padding: 20px 0;
    max-width: 360px;
    background-color: #fff;
    border: 1px solid #eee;
}
.block-list > * {
    padding: 10px 40px;
}
.block-list > *:first-child {
    border-top: 1px solid #eee;
}
.block-list > * {
    border-bottom: 1px solid #eee;
}
.block-list > *:hover {
    cursor: move;
}